{% extends 'layouts/post_list.html' %}
{% load static from staticfiles %}
{% block title %}{{ profile.pk }}{% endblock %}


{% block mid_panel %}
	<div id="profile_head" style="background-image: url('{{ profile.get_cover_url }}');background-repeat: no-repeat;background-size: auto 100%;">
		<div id="follow_action_container">
			{% if action == 'follow' %}
				<span id="profile_option" class="action_link noselect">follow</span>
			{% elif action == 'unfollow' %}
				<span id="profile_option" class="action_link noselect">unfollow</span>
			{% elif action == 'edit' %}
				<a id="profile_option_edit" class="action_link" href="/{{ profile.pk }}/edit">editar</a>
			{% endif %}

			<div id="follow_container">
				<a class="{% if profile_show == 'followers' %}normal_selected{% endif %}" href="/{{ profile.pk }}/followers"><span id="follower_number">{{ profile.follower_number }}</span><span class="follow_text"> follower{{ profile.follower_number|pluralize }}</span></a>
				<a class="{% if profile_show == 'following' %}normal_selected{% endif %}" href="/{{ profile.pk }}/following">{{ profile.following_number }}<span class="follow_text"> following</span></a>
				<a class="{% if profile_show == 'sub_following' %}normal_selected{% endif %}" href="/{{ profile.pk }}/sub_following">{{ profile.sub_following_number }}<span class="follow_text"> sub{{ profile.sub_following_number|pluralize }}</span></a>
			</div>
		</div>

		<div id="profile_container">
			<a id="profile_image_view" href="/{{ profile.pk }}"><img src="{{ profile.get_avatar_url }}" alt="{{ profile.pk }}"></a>
		</div>
	</div>
	<span id="username_rss_container">
		<a id="profile_username" href="/{{ profile.pk }}">{{ profile.pk }}</a>
		<!-- <a id="feed" href="#" target="_blank"><img src="{% static "img/feed.png" %}"></a> -->
	</span>
	{% ifequal user.pk  profile.pk %}<a id="logout" href="/logout">logout</a>{% endifequal %}
{% endblock %}


{% block commit %}
	{% for commit in object_list %}
		<div class="post">
			<a class="post_title" href="{{ commit.post.get_absolute_url }}">{{ commit.post.title }}</a>
			<a class="commit_id_title" href="{{ commit.post.get_absolute_url }}#{{ commit.commitid }}">#{{ commit.commitid }}</a>
			<div class="post_content">{{ commit.body_html|safe }}</div>
			<div class="post_info commit_post_info">
				<span class="date commit_date">{{ commit.created |date:"d/m/Y H:i" }}</span>
				<a class="commits_link" href="{{ commit.post.get_view_commits_url }}"><img src="{% static "img/dfiid_logo_small.png" %}">{{ commit.post.commit_number }}</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}


{% block js %}
	{% if user.is_authenticated %}
		<script>
			var profile_option = document.getElementById('profile_option');
			var follow_state = profile_option.innerText;
			var follower_number = document.getElementById('follower_number');
			var info_panel_users = $('#info_panel_users');
			var user_html = '<a href="/{{ profile.pk }}" id="follow_{{ profile.pk }}"><li class="visit"><img class="panel_avatar" src="{{ profile.get_avatar_thumb_url }}">{{ profile.pk }}</li></a>'


			profile_option.addEventListener('click', function() {
				$.ajax({
					type: 'POST',
					url: '/' + follow_state + '/{{ profile.pk }}/',
					data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
					success: followSuccess,
					error: function(xhr, error) {
						followError();
						console.debug(xhr); console.debug(error);
 					},
				});
			});


			function followSuccess(data) {
				if (follow_state == 'follow') {
					follower_number.innerText = parseInt(follower_number.innerText) + 1;
					info_panel_users.append(user_html);
					follow_state = 'unfollow';

					info_panel.style.display = 'block';
					info_nav_link.style.display = 'inline-block';
				}
				else {
					follower_number.innerText = parseInt(follower_number.innerText) - 1;
					document.getElementById('follow_{{ profile.pk }}').remove();
					follow_state = 'follow';

					info_panel.style.display = 'block';
					if (info_panel.offsetHeight < 60) {
						info_panel.style.display = 'none';
						info_nav_link.style.display = 'none';
					}
				}
				set_panel_visibility();
				profile_option.innerText = follow_state;
			}

			function followError() { location.reload(); }
		</script>
	{% endif %}

	{% if profile_show == 'post' %}
		{{ block.super }}
	{% endif %}
{% endblock %}
