{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}about{% endblock %}

{% block mid_panel %}
	<div class="post">
		<div class="post_content">
			<div class="post_body_content">
				<img id="about_logo" src="{% static "img/dfiid_logo_text_high.jpg" %}">

				<p><a href="/">dfiid</a> permite poder buscar y crear contenido original.</p>
				<p>Todos los derechos del contenido generado por un usario dentro de <a href="/">dfiid</a> pertenecen al mismo.</p>

				<div class="separator"></div>

				<p><a href="/">dfiid</a> es software libre:</p>
				<p><a href="https://github.com/ellipticaldoor/dfiid" target="_blank">https://github.com/ellipticaldoor/dfiid</a></p>

				<div class="separator"></div>

				<p><a href="mailto:dortamiguel@gmail.com" target="_blank">dortamiguel@gmail.com</a></p>
			</div>
		</div>
	</div>
{% endblock %}
