{% load compress %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}dfiid{% endblock %}</title>
	<meta name="description" content="dfiid">
	<meta name="keywords" content="dfiid, videojuegos, tecnología, cine, diseño, random">
	<meta name="theme-color" content="#FFFFFF">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/s/img/dfiid_logo.png">
	{% compress css inline %}
		<link rel="stylesheet" href="/s/css/open_sans.css" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="/s/css/style.css" type="text/css" charset="utf-8">
		{% block css %}{% endblock %}
	{% endcompress %}
	{% block js_head %}{% endblock %}
</head>
<body>

	<span id="app">
		<nav class="no-select">
			<ul>
				<li><a id="link_nav_link" class="nav_link" href="#" onClick="return false;">link</a></li>
				<li><a id="mid_nav_link" class="nav_link" href="#" onClick="return false;">mid</a></li>
				<li><a id="info_nav_link" class="nav_link" href="#" onClick="return false;">info</a></li>
			</ul>
		</nav>

		<div id="link_panel" class="panel side_panel">
			<ul>
				<li id="dfiid"><a href="/" class="{% block front_select %}{% endblock %}"><img src="/s/img/dfiid_logo_small.png" alt="dfiid">dfiid</a></li>
				<li><a href="/sub" class="{% block sub_select %}{% endblock %}">sub</a></li>
				<li><a href="/user" class="{% block user_select %}{% endblock %}">user</a></li>
				<li><a id="anon_panel_link" href="#">anon</a></li>

				<li><h4>Cuenta</h4></li>
				{% if user.is_authenticated %}
					<li><a id="auth_panel_link" href="/user/{{ user.username }}" class="{% block profile_select %}{% endblock %}"><img class="panel_avatar" src="/{{ user.avatar}}" alt="{{ user.username }}">perfil</a></li>
					<li><a href="/logout">logout</a></li>
				{% else %}
					<li><a id="auth_panel_link" href="/login" class="{% block login_select %}{% endblock %}">login</a></li>
				{% endif %}

				<li><h4>Contenido</h4></li>
				<li><a id="create_panel_link"  href="/create" class="{% block create_select %}{% endblock %}">crear</a></li>
				{% if user.is_authenticated %}
					<li><a href="/created" class="{% block created_select %}{% endblock %}">creado</a></li>
				{% endif %}

				<li><h4>Otros</h4></li>
				<li><a href="mailto:dortamiguel@gmail.com">contacto</a></li>
				<li><a id="github_panel_link" href="https://github.com/ellipticaldoor/dfiid">github</a></li>
			</ul>
		</div>

		<div id="mid_panel" class="panel">
			{% block content %}{% endblock %}
		</div>

		<div id="info_panel" class="panel side_panel">
			{% block info_panel %}{% endblock %}
			<ul>
				<li>fav</li>
				<li>sub</li>
				<li>user</li>
				<li>post</li>
			</ul>
		</div>
	</span>

	{% compress js inline %}
		<script src="/s/js/lib/zepto_1.1.6.min.js"></script>
		<script src="/s/js/global.js"></script>
		<script src="/s/js/lib/fluidvids_2.4.0.min.js"></script>
		{% block js %}{% endblock %}
	{% endcompress %}
</body>
</html>