{% spaceless %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}dfiid{% endblock %}</title>
	<meta name="description" content="dfiid">
	<meta name="keywords" content="dfiid, videojuegos, tecnología, cine, diseño, random">
	<meta name="theme-color" content="#FFFFFF">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" sizes="192x192" href="/s/img/assets/dfiid_logo.png">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:600,400" rel="stylesheet" type="text/css">
	{% compress css inline %}
		<link rel="stylesheet" href="/s/css/style.css" type="text/css" charset="utf-8">
		{% block css %}{% endblock %}
	{% endcompress %}
</head>
<body>
	<nav id="top_nav" class="nav no-select">
		<ul>
			<li><a href="/"><img id="logo_white" src="/s/img/assets/dfiid_logo_white_nav.png" alt="dfiid logo"></a></li>
			<li><a id="dfiid" href="/">dfiid</a></li>
			<li><a href="#">links</a></li>
			<li><a href="#">info</a></li>
		</ul>
	</nav>

	<div id="left_panel" class="panel side_panel">
		<ul>
			<li><a class="panel_link" href="/">portada</a></li>
			<li><a id="anon_panel_link" class="panel_link" href="#">anon</a></li>
			<li><a href="/subs">subs</a></li>
			<li><a href="/users">usuarios</a></li>

			<li><h4>Cuenta</h4></li>
			{% if user.is_authenticated %}
				<li><a id="auth_panel_link" class="panel_link" href="/user/{{ user.username }}">perfil</a></li>
				<li><a href="#">preferencias</a></li>
				<li><a href="/logout">logout</a></li>
			{% else %}
				<li><a id="auth_panel_link" class="panel_link" href="/login">login</a></li>
				<li><a href="/register">registro</a></li>
			{% endif %}

			<li><h4>Contenido</h4></li>
			<li><a id="create_panel_link" class="panel_link" href="/create">crear</a></li>
			{% if user.is_authenticated %}
				<li><a href="/created">creado</a></li>
				<li><a href="#">comentado</a></li>
				<li><a href="/create_sub">crear sub</a></li>
			{% endif %}

			<li><h4>Otros</h4></li>
			<li><a href="#">acerca</a></li>
			<li><a href="mailto:dortamiguel@gmail.com">contacto</a></li>
			<li><a href="/feed">feed</a></li>
			<li><a id="github_panel_link" class="panel_link" href="https://github.com/ellipticaldoor/dfiid">github</a></li>
		</ul>
	</div>

	<div id="content_panel" class="panel">
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</div>

	<div id="right_panel" class="panel side_panel">
		<div id="panel_test_content"></div>
	</div>

	{% compress js inline %}
		<script src="/s/js/lib/fluidvids_2.4.0.min.js"></script>
		{% block js %}{% endblock %}
	{% endcompress %}
</body>
</html>
{% endspaceless %}