<div class="post">
	<a href="{{ object.get_absolute_url }}" class="post_title">{{ object.title }}</a>
	<div class="post_content">{{ object.body_html|safe }}</div>

	<div class="post_info">
		<a href="/user/{{ object.user_id }}"><img alt="{{ object.user_id }}" src="/{{ object.user.avatar }}"></a>
		<span> por <a href="/user/{{ object.user_id }}">{{ object.user_id }}</a> en <a href="/sub/{{ object.sub_id }}">{{ object.sub_id }}</a> </span>
		<span>{{ object.pub_date | date:"d/m/Y H:i" }} </span>
		{% ifequal user.get_username  object.user_id|slugify %}
			<span class="post_info_highlight"><a href="{{ object.get_absolute_url }}/edit">editar</a></span>
		{% endifequal %}
	</div>
</div>