<div class="post">
	<a class="post_title" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
	<div class="post_content">{{ object.body_html|safe }}</div>

	<div class="post_info">
		<a href="/user/{{ object.user_id }}"><img alt="{{ object.user_id }}" src="/s/media/img/avatar/{{ object.user_id }}.png"></a>
		<span> por <a href="/user/{{ object.user_id }}">{{ object.user_id }}</a> en <a href="/sub/{{ object.sub_id }}">{{ object.sub_id }}</a> </span>
		{% ifequal user.username  object.user_id|slugify %}
			<span><a href="{{ object.get_edit_url }}">editar</a></span>
		{% endifequal %}
		<a class="comments_link" href="{{ object.get_view_comments_url }}">{{ object.comment_number }} commits</a>
	</div>
</div>