{% load static from staticfiles %}

{% for object in object_list %}
	<div class="post">
		<a class="post_title" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
		<div class="post_content">
			<div class="post_body_content">
				{{ object.body_html|safe }}
			</div>
			{% if object.image   %}
				<p><a href="{{ object.get_image_url }}"><img src="{{ object.get_image_url }}"></a></p>
			{% endif %}
		</div>

		{% block post_info %}
			<div class="post_info">
				<a class="blog_link" href="/{{ object.user_id }}"><img alt="{{ object.user_id }}" src="{{ object.get_avatar_url }}"></a>
				<span><a href="/{{ object.user_id }}">{{ object.user_id }}</a> / <a href="/sub/{{ object.sub_id }}">{{ object.sub_id }}</a></span>
				{% ifequal user.username  object.user_id|slugify %}
					<span><a class="edit" href="{{ object.get_edit_url }}"> editar</a></span>
				{% endifequal %}
				<span class="date">{{ object.created |date:"d/m/Y H:i" }}</span>
				<a class="commits_link" href="{{ object.get_view_commits_url }}"><img src="{% static "img/icon/text_bubble.png" %}">{{ object.commit_number }}</a>
			</div>
		{% endblock %}
	</div>
{% endfor %}
