{% load markdown_deux_tags %}

<div class="post">
	<a href="{{ object.get_absolute_url }}" class="post_title">{{ object.title }}</a>
	<div class="post_content">{{ object.body | markdown }}</div>
	<div class="post_info">
		{% ifequal user.get_username  object.author|slugify %}
			<span class="post_info_highlight"><a target="_blank" href="{{ object.get_absolute_url }}/edit">Edit</a>, </span>
		{% endifequal %}
		<span>Publicado por <span class="post_info_highlight"><a target="_blank" href="/author/{{ object.author }}">{{ object.author }}</a></span>, </span>
		<span>tag <span class="post_info_highlight"><a href="/tag/{{ object.tag }}">{{ object.tag }}</a></span>, </span>
		<span class="post_info_highlight">{{ object.pub_date | date:"d/m/y h:i" }}</span>
	</div>
</div>