{% extends "base.html" %}
{% block title %}subs{% endblock %}
{% block subs_select %}selected{% endblock %}

{% block content %}
	<div id="create_menu">
		<span class="def_button"><a href="/create_sub">crear sub</a></span>
	</div>
	
	{% if object_list %}
		{% for object in object_list %}
			<div class="create_table">
				<a href="/sub/{{ object.slug }}">{{ object.slug }}</a>
			</div>
		{% endfor %}
	{% else %}
		{% include "layouts/no_content.html" %}
	{% endif %}

	{% if is_paginated %}
		{% include "layouts/paginate.html" %}
	{% endif %}
{% endblock %}