{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content %}
	<div id="profile_container">
		<span id="profile_username">{{ user.username }}</span>
		<img class="archive_profile_image" src="{% if user.profile.image %}/{{ user.profile.image }}{%else%}/s/img/assets/default_avatar.jpg{% endif %}" alt="{{ user.username }}">
		{% if user.profile.bio %}
			{{ user.profile.bio | markdown }}
		{% else %}
			<p>{{ user.username }} doesn't have a bio.</p>
		{% endif %}
	</div>
	<p class="archive_title" href="/author/posts/{{ user.username }}">Posts</p>
	{% for object in object_list %}
		<li><p><a href="{{ object.get_absolute_url }}" class="post_title">{{ object.title }}</a><span class="list_date"> {{ object.pub_date | date:"d/M/Y" }}</span></p>
	{% endfor %}
{% endblock %}

{% block title %}
	{{ user.username }} profile
{% endblock %}