{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content %}
	<div id="profile_container">
		<span id="profile_username">{{ object.username }}</span>
		<img class="archive_profile_image" src="{% if user.profile.image %}/{{ user.profile.image }}{%else%}/s/img/assets/default_avatar.jpg{% endif %}" alt="{{ user.username }}">
		{% if user.profile.bio %}
			{{ user.profile.bio | markdown }}
		{% else %}
			<p>{{ user.bio }}</p>
		{% endif %}
	</div>
	<p class="archive_title" href="/author/posts/{{ user.username }}">Posts</p>
	{% for post in posts %}
		<li><p><a href="{{ post.get_absolute_url }}" class="post_title">{{ post.title }}</a><span class="list_date"> {{ post.pub_date | date:"d/M/Y" }}</span></p>
	{% endfor %}
{% endblock %}

{% block title %}{{ object.username }} profile{% endblock %}