{% extends "cms/base.html" %}

{% block content %}
	<div id="cms_menu">
		<span id="cms_add" class="def_button"><a href="/new_tag">+ add tag</a></span>
	</div>
	
	{% if object_list %}
		{% for object in object_list %}
			<div class="cms_table">
				<a href="/tag/{{ object.slug }}">{{ object.slug }}</a>
			</div>
		{% endfor %}
	{% else %}
		{% include "layouts/no_content.html" %}
	{% endif %}

	{% if is_paginated %}
		{% include "layouts/paginate.html" %}
	{% endif %}
{% endblock %}

{% block title %}cms: tags{% endblock %}