{% extends "base.html" %}
{% load compress %}
{% block title %}{% if object.title %}editar{% else %}crear{% endif %}{% endblock %}

{% block content %}
	<div id="edit_form">
		<section id="editor_section">
			<form method="post" action="" class="form-horizontal">
				{% csrf_token %}
					<div id="main_edit">
						<p>{{ form.title }}</p>
						{{ form.body }}
					</div>
					<div id="edit_options">
						<p>{{ form.pub_date }}</p>
						<p>{{ form.sub }} {{ form.draft }} <span>draft</span></p>
					</div>
					<input id="edit_form_button" type="submit" value="Submit" />
			</form>
		</section>
		<section id="view_section">
				<div class="post">
					<a href="" id="post_title" class="post_title"></a>
					<div id="post_content" class="post_content"></div>
					<div class="post_info">
						<a href="/user/{{ user.username }}"><img alt="{{ user.username }}" src="/{{ user.profile.image }}"></a>
						<span> por <span class="post_info_highlight"><a href="/user/{{ user.get_username }}/">{{ user.get_username }}</a></span>, </span>
						<span>sub <span class="post_info_highlight"><a id="post_sub" href=""></a></span>, </span>
						<span id="post_pub_date" class="post_info_highlight"></span>
					</div>
				</div>
		</section>
	</div>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/s/css/edit.css" type="text/css" charset="utf-8">
{% endblock %}

{% block js %}
	{% compress js inline %}
		<script src="/s/js/editor.js"></script>
	{% endcompress %}
{% endblock %}