{% extends "base.html" %}
{% block title %}creado{% endblock %}
{% block created_select %}selected{% endblock %}

{% block content %}
	<div id="create_menu">
		<span class="def_button"><a href="/create">crear post</a></span>
	</div>
	
	{% if object_list %}
		{% for object in object_list %}
			<div class="table">
				<a href="{{ object.get_absolute_url }}/edit">{{ object.title }}</a>
				{% if object.draft %}<span class="cms_draft">borrador</span>{% endif %}
				<span class="cms_date">{{ object.pub_date | date:"d/m/Y H:i" }}</span>
			</div>
		{% endfor %}
	{% else %}
		{% include "layouts/no_content.html" %}
	{% endif %}

	{% if is_paginated %}
		{% include "layouts/paginate.html" %}
	{% endif %}
{% endblock %}