{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}creado{% endblock %}

{% block mid_panel %}
	{% if object_list %}
		{% for object in object_list %}
			{% if object.draft %}
				<div class="created_container">
					<a class="created_draft" href="{{ object.get_edit_url }}">
						<div class="post created_post created_post_draft">
							<span class="post_title">{{ object.title }}</span>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
		{% for object in object_list %}
			{% if not object.draft %}
				<div class="created_container">
					<a class="created_link" href="{{ object.get_edit_url }}">
						<div class="post created_post">
							<span class="post_title">{{ object.title }}</span>

							<div class="post_info created_post_info">
								<span class="date created_date">{{ object.created |date:"d/m/Y H:i" }}</span>
							</div>
						</div>
					</a>

					<div class="info_created">
						<a class="commits_link created_commits_link" href="{{ object.get_view_commits_url }}">
							<img src="{% static "img/dfiid_logo_small.png" %}">{{ object.commit_number }}
						</a>

						<a class="created_visit_link" href="{{ object.get_absolute_url }}">visitar</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		<div id="paginate">
			{% if page_obj.has_previous %}
				<span class="def_button"><a href="?page={{ page_obj.previous_page_number }}">anterior</a></span>
			{% endif %}
			{% if page_obj.has_next %}
				<span class="def_button"><a href="?page={{ page_obj.next_page_number }}">siguiente</a></span>
			{% endif %}
		</div>
	{% else %}
		<p>ningún post creado</p>
	{% endif %}
{% endblock %}
