{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
	{% if object_list %}
		{% for object in object_list %}
			{% if forloop.counter0 < 5 %}
				{% include "content/layouts/post.html" %}
			{% else %}
				{% if forloop.counter0 == 5 %}
					<p>anteriores</p>
				{% endif %}
				<li><p><a href="{{ object.get_absolute_url }}" class="post_title">{{ object.title }}</a><span class="list_date"> {{ object.pub_date | date:"d/m/Y h:i" }}</span></p>
			{% endif %}
		{% endfor %}
	{% else %}
		{% include "layouts/no_content.html" %}
	{% endif %}
{% endblock %}