{% extends "base.html" %}
{% block title %}{% if object.title %}editar{% else %}crear{% endif %}{% endblock %}
{% block create_select %}{% if not object.title %}selected{% endif %}{% endblock %}
{% block created_select %}{% if object.title %}selected{% endif %}{% endblock %}

{% block mid_panel %}
	<div id="edit_form">
		{{ form.non_field_errors }}
		<section id="editor_section">
			<form class="form-horizontal" action="{% if object.get_edit_url %}{{  object.get_edit_url }}{% else %}/create/{% endif %}" method="post">
				{% csrf_token %}
				<div id="main_edit">
					<p>{{ form.title }}</p>
					{{ form.title.errors }}

					{{ form.body }}
					{{ form.body.errors }}
				</div>
				
				<div id="edit_options">
					<input id="edit_form_button" class="submit" type="submit" value="Submit" />
					<span id="draft_chekcbox">{{ form.draft }}{{ form.draft.errors }}draft</span>
					<span id="sub_select">{{ form.sub }}{{ form.sub.errors }}</span>
				</div>
			</form>
		</section>

		<section id="view_section">
				<div class="post">
					<a href="#" onClick="return false;" id="post_title" class="post_title"></a>
					<div id="post_content" class="post_content"></div>

					<div class="post_info">
						<a href="/user/{{ user.username }}"><img alt="{{ user.username }}" src="/{{ user.avatar }}"></a>
						<span> por <a href="/user/{{ user.username }}">{{ user.username }}</a> en <a id="post_sub" href=""></a> </span>
						<span id="post_created" class="post_info_highlight"></span>
					</div>
				</div>
		</section>
	</div>
{% endblock %}

{% block js %}
	<script src="/s/js/lib/marked_0.3.2.min.js"></script>
	<script src="/s/js/editor.js"></script>
{% endblock %}