{% extends 'base.html' %}
{% block title %}creado{% endblock %}

{% block mid_panel %}	
	{% if object_list %}
		{% for object in object_list %}
			{% if object.draft %}
				<a class="created_link created_draft" href="{{ object.get_edit_url }}">
					{{ object.title }}
				</a>
			{% endif %}
		{% endfor %}
		{% for object in object_list %}
			{% if not object.draft %}
				<a class="created_link" href="{{ object.get_edit_url }}">
					{{ object.title }}
					<span class="commits_link"><img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}</span>
				</a>
			{% endif %}
		{% endfor %}

		<div id="paginate">
			{% if page_obj.has_previous %}
				<span class="def_button"><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
			{% endif %}
			{% if page_obj.has_next %}
				<span class="def_button"><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
			{% endif %}
		</div>
	{% else %}
		<p>no content</p>
	{% endif %}
{% endblock %}