{% extends "base.html" %}
{% block title %}sub{% endblock %}
{% block sub_select %}selected{% endblock %}

{% block mid_panel %}	
	{% if object_list %}
		{% for object in object_list %}
			<a class="sub_container" href="/sub/{{ object.slug }}">
				<img src="/{{ object.image }}">
				{{ object.slug }}
			</a>
		{% endfor %}
	{% else %}
		{% include "layouts/no_content.html" %}
	{% endif %}
{% endblock %}

{% block info_panel %}
	<li><a href="/create_sub" class="action_link">crear sub</a></li>
{% endblock %}