{% extends 'base.html' %}
{% block title %}sub{% endblock %}

{% block facebook_meta_tags %}
	<meta property="og:title" content="sub" />
	<meta property="og:url" content="http://dfiid.com/sub"/>
	<meta property="og:image" content="http://dfiid.com/s/img/sub_logo_text.jpg"/>
	<meta property="og:description" content="dfiid subs"/>
{% endblock %}

{% block mid_panel %}
	<a href="/create_sub" class="action_link create_action_link">crear sub</a>

	<div id="profile_container">
		<a href="/"><img id="dfiid_image_view" src="/s/img/sub_logo_text.jpg" alt="dfiid"></a>
	</div>

	<div id="user_list_container">
		<ul>
			{% for object in object_list %}
				<li>
					<a class="sub_container" href="/sub/{{ object.slug }}">
						<img src="/{{ object.image }}">
						<span>{{ object.slug }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}