{% extends 'layouts/post_list.html' %}
{% block title %}{{ list.slug }} sub{% endblock %}

{% block mid_panel %}
	{% if followers %}
		{% block head %}
			<div id="follow_action_container" class="follow_action_container">
				{% if action == 'follow' %}
					<span id="profile_option" class="action_link noselect">follow</span>
				{% elif action == 'unfollow' %}
					<span id="profile_option" class="action_link noselect">unfollow</span>
				{% endif %}

				<div id="follow_container">
					<a class="{% if followers %}normal_selected{% endif %}" href="/sub/{{ list.slug }}/followers"><span id="follower_number">{{ list.follower_number }}</span><span> followers</span></a>
				</div>
			</div>

			<div id="profile_container">
				<a id="profile_username" href="/sub/{{ list.slug }}"><img id="sub_image_view" src="/m/sub/{{ list.slug }}.png" alt="{{ list.slug }}"></a>
			</div>
			<span id="username_rss_container">
				<a id="profile_username" href="/sub/{{ list.slug }}">{{ list.slug }}</a>
			</span>

			{% block tab %}
				<ul id="tab_selector">
					<li><a class="{% if tab_show == 'top' %}tab_selected{% endif %}" href="/sub/{{ list.slug }}">top</a></li>
					<li><a class="{% if tab_show == 'new' %}tab_selected{% endif %}" href="/sub/{{ list.slug }}/new">new</a></li>
				</ul>
			{% endblock %}
		{% endblock %}

		{% with list.sub_followed.all as follows %}
			<ul>
				{% for follow in follows %}
					<li>
						<a class="sub_container" href="/{{ follow.follower_id }}">
							<img src="{{ follow.get_follower_avatar_url }}" alt="{{ follow.follower_id }}">
							<span>{{ follow.follower_id }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endwith %}
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}

{% block js %}
	{% if user.is_authenticated %}
		<script>
			var profile_option = document.getElementById('profile_option');
			var follow_state = profile_option.innerText;
			var follower_number = document.getElementById('follower_number');
			var info_panel_subs = $('#info_panel_subs');
			var sub_html = '<a href="/{{ list.slug }}" id="sub_follow_{{ list.slug }}"><li class="visit"><img class="panel_avatar" src="/m/sub/{{ list.slug }}.png">{{ list.slug }}</li></a>'


			profile_option.addEventListener('click', function() {
				$.ajax({
					type: 'POST',
					url: '/sub_' + follow_state + '/{{ list.slug }}/',
					data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
					success: sub_followSuccess,
					error: function(xhr, error) {
						sub_followError();
						console.debug(xhr); console.debug(error);
 					},
				});
			});


			function sub_followSuccess(data) {
				if (follow_state == 'follow') {
					follower_number.innerText = parseInt(follower_number.innerText) + 1;
					info_panel_subs.append(sub_html);
					follow_state = 'unfollow';

					info_panel.style.display = 'block';
					info_nav_link.style.display = 'inline-block';
				}
				else {
					follower_number.innerText = parseInt(follower_number.innerText) - 1;
					document.getElementById('sub_follow_{{ list.slug }}').remove();
					follow_state = 'follow';

					if (info_panel.offsetHeight < 60) {
						info_panel.style.display = 'none';
						info_nav_link.style.display = 'none';
					}
				}
				profile_option.innerText = follow_state;
			}

			function sub_followError() { location.reload(); }
		</script>
	{% endif %}

	{% if tab == 'top' or tab == 'new' %}
		{{ block.super }}
	{% endif %}
{% endblock %}
