{% extends "cms/base.html" %}

{% block content %}
	<div id="cms_menu">
		<span id="cms_add" class="def_button"><a href="/new_post">+ add post</a></span>
	</div>
	
	{% if object_list %}
		{% for object in object_list %}
			<div class="cms_table">
				<a href="{{ object.get_absolute_url }}/edit">{{ object.title }}</a>
				{% if object.draft %}<span class="cms_draft">draft</span>{% endif %}
				<span class="cms_date">{{ object.pub_date | date:"d/m/y h:i" }}</span>
			</div>
		{% endfor %}
	{% else %}
		{% include "layouts/no_content.html" %}
	{% endif %}

	{% if is_paginated %}
		{% include "layouts/paginate.html" %}
	{% endif %}
{% endblock %}