/* Forms
   ========================================================================== */

textarea {
	padding: 5px;
	border: 1px solid #C7C7CC;
	font-size: 110%;
	max-width: 100%;
	min-width: 100%;
	height: 50vh;
	min-height: 50vh;
	resize: none;
	outline: none;
}


/* CMS Navbar
   ========================================================================== */

#cms_nav {
	height: 50px;
	line-height: 50px;
	font-size: 105%;
	margin-bottom: 20px;
	background-color: #34AADC;
	-webkit-animation: color_change 60s infinite alternate;
	-ms-animation: color_change 60s infinite alternate;
	animation: color_change 60s infinite alternate;
}

#cms_nav a { color: white; }
#cms_nav_left { float: left; }
#cms_nav_left a { margin-right: 10px; }
#cms_nav_right { float: right;}
#cms_nav_right a { margin-left: 10px; }


/* Editor
   ========================================================================== */

.cms_table {
	font-size: 110%;
	border-bottom: 1px solid #C7C7CC;
	padding: 10px 4px 10px 4px;
}

.cms_date {
	margin-top: 4px;
	color: #8E8E93;
	font-size: 70%;
	float: right;
}

#cms_add {
	float: right;
	display: block;
}

#cms_menu { height: 35px;}

.cms_draft {
	font-size: 90%;
	margin-left: 3px;
	color: #8E8E93;
}


/* Editor
   ========================================================================== */

#edit_options {
	float: left;
	color: #8E8E93;
}

#view_section { display: none; }

#id_title { 
	width: 100%;
	margin-bottom: 5px; 
}