/* Forms
========================================================================== */

textarea {
	padding: 20px;
	border: 1px solid #e7e7e7;
	font-size: 110%;
	max-width: 100%;
	min-width: 100%;
	height: calc(100vh - 260px);
	min-height: 50vh;
	resize: none;
	outline: none;
}


/* Editor
========================================================================== */

#edit_form { overflow: auto; }

#edit_options {
	float: left;
	color: #8E8E93;
	margin-bottom: 5px;
}

#view_section { display: none; }

#id_title { 
	width: 100%;
	margin-bottom: 5px; 
}

#edit_form_button { margin-left: 5px; }

#id_pub_date { width: 165px;  }