/* general
__________________________________________________________________________ */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

.warning {
	margin: 5px 0 5px 0;
	padding: 5px;
	border: 2px solid #FF9500;
	border-radius: 2px;
	font-size: 80%;
	color: #8E8E93;
}

.errorlist {
	width: 235px;
	padding: 5px;
	margin: 6px 0 5px 0;
	border: 2px solid #FF4981;
	border-radius: 2px;
	font-size: 90%;
	color: #8E8E93;
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #ecf0f1;
	margin: 18px 0 18px 0;
}

.mid_separator {
	height: 1px;
	width: 100%;
	margin: 10px 0 10px 0;
}

.sub_separator {
	height: 1px;
	width: 100%;
	margin-top: 15px;
}

.form_separator {
	height: 1px;
	width: 100%;
	background-color: #ecf0f1;
	margin: 0 0 5px 0;
}


/* typography
__________________________________________________________________________ */

html, body, textarea, input {
	font-family: 'Open Sans';
	text-rendering: optimizeLegibility;
	font-size: 100%;
}

a {
	color: #34AADC;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

h4 { font-weight: normal; }

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.normal_selected {
	color: #34AADC;
	font-weight: bold;
	text-decoration: underline;
}

.normal_selected span { color: #34AADC !important; }

.normal_selected span { display: inline !important;}

.selected {
	text-decoration: underline !important;
	font-weight: bold;
}


/* input
__________________________________________________________________________ */

input {
	color: #8E8E93;
	padding: 5px;
	border-radius: 2px;
	border: 2px solid #DBDDDE;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input:focus { border: 2px solid #007AFF; }

.submit {
	cursor: pointer;
	color: white;
	border: 2px solid #34AADC;
	border-bottom: 2px solid #007AFF;
	border-radius: 2px;
	background-color: #34AADC;
}

.submit:hover {
	background-color: #007AFF;
	border: 2px solid #007AFF;
}

.submit:focus {
	background-color: #007AFF;
	border: 2px solid #007AFF;
}

input[type="button"] { background-color: white; }

input[type="checkbox"] {
	margin-right: 3px;
	cursor: pointer;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}

::-webkit-input-placeholder { color: #C7C7CC; }
:-moz-placeholder { color: #C7C7CC; opacity: 1; }
::-moz-placeholder { color: #C7C7CC; opacity: 1; }
:-ms-input-placeholder { color: #C7C7CC; }

select {
	-moz-appearance: button;
	outline: none;
	margin: 0;
	color: #8E8E93;
	background-color: white;
	padding: 5px;
	border: 2px solid #DBDDDE;
	border-radius: 2px;
	cursor: pointer;
}

select:focus { border: 2px solid #34AADC;}

textarea {
	padding: 20px;
	border: 2px solid #DBDDDE;
	border-radius: 2px;
	font-size: 110%;
	width: 100%;
	resize: none;
	outline: none;
}

@-moz-document url-prefix() { textarea { margin-bottom: 5px; } }

textarea:focus { border: 2px solid #34AADC; }

.action_link {
	display: inline-block;
	width: auto !important;
	width: 100%;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	color: #34AADC;
	border: 2px solid #34AADC;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.8);
	outline: none !important;
}

.action_link:hover {
	color: #007AFF;
	border: 2px solid #007AFF;
	cursor: pointer;
}

.action_link:focus { color: #007AFF; }


/* nav
__________________________________________________________________________ */

nav {
	display: none;
	line-height: 50px;
	height: 50px;
	font-size: 18px;
	border-bottom: 1px solid #D7D7D7;
}

nav ul { text-align: center; }
nav li { display: inline; }
nav a { display: inline-block; }


/* panels
__________________________________________________________________________ */

.panel {
	overflow: auto;
	float: left;
	margin: 20px 0 20px 0;
}

.side_panel { padding: 5px 20px 5px 20px; }

#link_panel {
	width: 160px;
	padding-top: 3px;
}

#link_panel .separator { margin: 20px 0 16px 0; }

#info_panel { width: 240px; }

#mid_panel {
	width: calc(100vw - 160px - 240px);
	max-width: 700px;
	padding: 0 5px 0 5px;
}


/* panel mid
__________________________________________________________________________ */

#link_panel li {
	margin: 6px 0 0 5px;
	font-size: 115%;
}

#link_panel h4 {
	margin: 18px 0 0 0;
	color: #4A4A4A;
}

#link_panel a {
	margin-left: 1px;
	color: #007AFF;
}

#dfiid a { color: #34AADC; }

#dfiid img {
	height: 22px;
	margin: 0px 4px -4px 0px;
}


#dfiid_create_link {
	border: 2px solid #EF4DB6;
	color: #EF4DB6;	
}

#anon_create_link {
	border: 2px solid #FF9500;
	color: #FF9500;
}

.create_action_link {
	float: right;
	margin: 10px 10px 20px 0;
}

.panel_avatar {
	height: 19px;
	margin: 0 5px -5px 0;
}

#anon_panel_link { color: #FF9500 !important; }
#auth_panel_link { color: #0BD318 !important; }
#create_panel_link { color: #EF4DB6 !important; }
#github_panel_link { color: #8E8E93 !important; }

.nav_link { width: 50px; }

.nav_link:focus { text-decoration: none; }

#link_nav_link { display: none; }
#mid_nav_link { display: none; }
#info_nav_link { display: none; }


/* panel info
__________________________________________________________________________ */

.visit {
	border: 2px solid white;
	border-radius: 2px;
	padding: 2px 5px 5px 5px;
}

.visit:hover { border: 2px solid #007AFF; }

.visit_profile { padding: 5px 5px 8px 5px; }

.visit_profile img {
	height: 29px;
	margin: 0 6px -10px 0;
}


/* panel @media
__________________________________________________________________________ */

@media (max-width: 950px) {
	nav { display: block; }
	#link_nav_link, #mid_nav_link, #info_nav_link { display: inline-block; }

	#link_panel, #info_panel {
		display: none;
		width: 100%;
		margin-top: 10px;
	}

	#link_panel li {
		margin: 15px 0 0 10px;
		font-size: 140%;
	}

	.visit {
		font-size: 125%;
		padding: 4px 5px 5px 5px;
	}

	#mid_panel {
		width: 100vw;
		margin-left: calc((100vw - 700px)/2);
	}

	.panel_avatar {
		height: 30px;
		margin: 0 9px -8px 0;
	}
}

@media (max-width: 700px) {
	#mid_panel { margin-left: 0; }
}


/* mid
__________________________________________________________________________ */

img {
	max-width: 100%;
	max-height: 353px;
	border-radius: 2px;
	margin-top: 5px;
}

.post {
	overflow: hidden;
	border: 2px solid #ecf0f1;
	border-radius: 2px;
	padding: 10px 15px 12px 15px;
	margin-bottom: 15px;
}

.date {
	font-size: 90%;
	color: #BDBEC2;
}

.anon_date {
	position: relative;
	left: -5px;
}

.post_title {
	font-size: 135%;
	max-width: 100%;
}

.post_title:visited { color: #C86EDF; }

.post_content {
	padding: 3px;
	margin-top: 5px;
}

.post_content p {
	margin-bottom: 10px;
	font-size: 104%;
}

.post_info {
	width: calc(100% + 8px);
	overflow: hidden;
	color: #8E8E93;
	line-height: 37px;
	margin: 0 0 0 -4px;
}

.post_info img {
	width: 30px;
	height: 30px;
	margin: 0;
}

.anon_post_info { margin: -9px 0 -8px -4px; }

.post_info img, .post_info span { float: left; }
.post_info span { margin-left: 8px; }

.blog_link {
	float: left;
	margin: 4px;
}

.commits_link { float: right; }

.commits_link img {
	float: right;
	width: 14px;
	height: 14px;
	margin: 11px 4px 5px 5px;
}

.commit_id { margin-right: 4px; }

#commit_form {
	width: 95%;
	margin: 0 auto 15px auto;
}

.commit_id_title {
	color: #5856D6;
	font-size: 90%;
	margin-left: 2px;
}

#paginate { padding: 25px 4px 0 0; }

.edit { color: #5856D6; }


/* embed video
__________________________________________________________________________ */

.video_container {
	display: block;
	width: 100%;
}

.player {
	display: block; width: 100%;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
	width: 100%; height: 100%;
	cursor: hand;
	cursor: pointer;
	display: block;
}

img.thumb {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	height: auto;
	border-radius: 2px;
}

div.play_button {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url('/s/img/play.png') no-repeat;
}

#iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


/* tabs
__________________________________________________________________________ */

#tab_selector {
	display: inline-block;
	width: 100%;
	margin: 20px 0 22px 0;
}

#tab_selector a {
	border: 2px solid #ecf0f1;
	border-radius: 2px;
	padding: 5px 8px 5px 8px;
	margin-right: 1px;
}

#tab_selector a:hover { border: 2px solid #007AFF !important; }

.tab_selected {
	border: 2px solid #34AADC !important;
	border-bottom: 1px solid white !important;
}


/* subs
__________________________________________________________________________ */

#user_list_container {
	overflow: auto;
	width: 100%;
	padding-top: 15px;
}

.sub_container {
	overflow: hidden;
	width: calc(50% - 5px);
	line-height: 42px;
	margin: 0 5px 5px 0;
	border-radius: 2px;
	padding: 5px;
	float: left;
	border: 2px solid white;
}

@media (max-width: 500px) {
	.sub_container {
		width: 100%;
		margin: 0 0 5px 0;
	}
}

.sub_container:hover { border: 2px solid #007AFF; }

.sub_container img {
	height: 42px;
	margin: 0 10px 0 0;
	float: left;
}

#dfiid_image_view {
	float: left;
	margin: 0px 0 7px 0;
	height: 50px;
}

#sub_image_view {
	float: left;
	margin: 0;
	width: 50px;
	height: 50px;
}


/* profile
__________________________________________________________________________ */

#profile_head {
	padding-bottom: 10px;
	margin-bottom: 2px;
	border-radius: 2px;
}

#profile_container {
	overflow: auto;
	border-radius: 2px;
	padding: 10px 10px 0px 10px;
}

#profile_image_view {
	float: left;
	border-radius: 2px;
}

#profile_image_view img {
	float: left;
	margin: 0 0 0 0;
	width: 80px;
	height: 80px;
}

#profile_username {
	border-radius: 2px;
	font-size: 150%;
	margin-right: 4px;
}


#profile_username span {
	position: absolute;
	left: 0;
}

#feed img {
	width: 14px;
	height: 14px;
	margin-top: 10px;
}

#logout {
	float: right;
	margin-right: 5px;
}

#profile_option {
	float: left;
	margin-top: 0px;
}

#profile_option .action_link { background-color: rgba(255, 255, 255, 0.8) }

.profile_list_title { font-size: 120%; }

#follow_action_container {
	overflow: auto;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
}

#follow_action_container form { margin-top: -5px; }

#follow_container {
	display: inline-block;
	float: right;
	border: 2px solid #34AADC;
	border-radius: 2px;
	padding: 5px 10px 5px 10px;
	background-color: rgba(255, 255, 255, 0.8);
}

#follow_container:hover { border: 2px solid #007AFF; }

#follow_container a:nth-child(2) {
	border-left: 1px solid #8E8E93;
	border-right: 1px solid #8E8E93;
	padding: 0 7px 0 7px;
	margin: 0 3px 0 3px;
}

#follow_container a:hover { color: #007AFF; }

#follow_container span:hover { color: #007AFF !important; }

#follow_container span { color: #a3a3a3;}

@media (max-width: 500px) {
	#follow_container span { display: none; }

	#follow_container a:nth-child(2) {
		padding: 0 12px 0 12px;
		margin: 0 8px 0 8px;
	}

	#follow_container { padding: 5px 14px 5px 14px; }
}

#username_rss_container {
	float: left;
	overflow: auto;
	margin-left: 9px;
}


/* edit profile
__________________________________________________________________________ */

#edit_profile_form input { margin-bottom: 5px; }

#edit_profile_form p {
	color: #34AADC;
	margin-bottom: 10px;
	font-size: 120%;
}

.edit_profile_section {
	border: 2px solid #ecf0f1;
	border-radius: 2px;
	padding: 15px 10px 10px 10px;
	margin-bottom: 10px;
}

.edit_profile_section #image_post_edit {
	padding: 0;
	margin: 0;
	border: 0;
}

.edit_profile_section #image_post_edit img { margin-top: 0; }

#edit_profile_form #id_avatar, #edit_profile_form #id_cover{
	border: 0;
	padding: 0;
	margin-top: 3px;
}


/* created
__________________________________________________________________________ */

.created_container {
	overflow: auto;
	margin: 0 0 10px 0;
}

.created_post {
	float: left;
	margin-bottom: 0;
	width: calc(100% - 110px);
}

.created_post:hover {
	border: 2px solid #007AFF;
}

.created_post_draft {
	border: 2px solid #34AADC;
	width: 100%;
}

.created_date {
	position: relative;
	left: -8px;
}

.created_post_info { margin: 0 0 -8px 0; }

.created_link { color: #34AADC !important; }

.created_visit_link { color: #5856D6; }

.info_created {
	overflow: auto;	padding: 5px;
}

.info_created a { float: right; }

.created_commits_link { margin-left: 20px;}

.created_commits_link img {
	float: right;
	width: 14px;
	height: 14px;
	margin: 4px 0 5px 5px;
}


/* auth form
__________________________________________________________________________ */

#auth_form_container {
	text-align: center;
	border: 2px solid #ecf0f1;
	border-radius: 2px;
	margin-bottom: 15px;
}

#auth_form { margin-bottom: 40px; }

#auth_form_container img {
	width: 180px;
	max-width: 100%;
	margin: 40px 0 30px 0;
}

#auth_form input {
	width: 235px;
	max-width: 100%;
	display: block;
	margin: 0 auto 5px auto;
	padding: 8px;
}

#auth_form .errorlist {
	width: 235px;
	margin: 6px auto 5px auto;
	text-align: left;
}

#login_signup_link {
	font-size: 110%;
	text-align: center;
}

.g-recaptcha {
	overflow: hidden;
	width: 235px !important;
	height: 55px !important;
	border-radius: 2px;
	border: 2px solid #d3d3d3;
	margin: 0 0 5px 0;
}

#auth_form .g-recaptcha {
	margin: 0 auto 5px auto;
}

.g-recaptcha iframe { margin: -10px 0 0 -2px; }


/* Editor
__________________________________________________________________________ */

#anon_edit_options { margin-top: 5px; }

#edit_options {
	color: #8E8E93;
	margin-bottom: 5px;
	padding: 0 5px 5px 5px ;
	margin: -4px 0 7px 0;
}

#edit_form_button { float: left; }

#draft_chekcbox { float: right;}

#sub_select {margin-left: -5px;}

#view_section { display: none; }

#id_title { 
	width: 100%;
	margin-bottom: 5px; 
}

#optional_image {
	color: #C7C7CC;
	margin-bottom: 2px;
}

#id_image {
	margin-bottom: 10px;
	border: 0;
	padding: 0;
	color: #C7C7CC;
}

#image_post_edit {
	padding: 0 5px 5px 5px;
	margin-bottom: 5px;
	border: 2px solid #DBDDDE;
	border-radius: 2px;
}

#image_post_edit img { max-height: 100px; }

#edit_form_button { width: 100px; }


/* Animations
__________________________________________________________________________ */

@-webkit-keyframes bg_change {
	0% { background-color: #007AFF; }
	100% { background-color: #34AADC; }
}

@-ms-keyframes bg_change {
	0% { background-color: #007AFF; }
	100% { background-color: #34AADC; }
}

@keyframes bg_change {
	0% { background-color: #007AFF; }
	100% { background-color: #34AADC; }
}

#loading {
	overflow: auto;
	width: 78px;
	margin: 0 auto;
}

#loading div {
	float: left;
	margin: 0 3px 0 3px;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background-color: #34AADC;
	-webkit-animation: bg_change 0.5s infinite alternate;
	-ms-animation: bg_change 0.5s infinite alternate;
	animation: bg_change 0.5s infinite alternate;
}


/* django-debug-toolbar
__________________________________________________________________________ */

#djDebugToolbarHandle { border-width: 0 !important; }

#djShowToolBarButton {
	background-color: white !important;
	background-image: none !important;
	height: 20px !important;
	width: 50px !important;
}