/* General
========================================================================== */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

@media (min-width: 1130px) {
	body {
		overflow: auto;
		width: 100%;
	}

	#app{
		display: block;
		overflow: auto;
		width: calc(650px + 280px + 200px);
		margin: 0 auto;
	}
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #ecf0f1;
	margin: 18px 0px 18px 0px;
}


/* Typography
========================================================================== */

html, body, textarea {
	font-family: 'Open Sans';
	text-rendering: optimizeLegibility;
	font-size: 100%;
}

a {
	color: #34AADC;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

h4 { font-weight: normal; }

.selected {
	text-decoration: underline;
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/* Input
========================================================================== */

input {
	font-size: 100%;
	text-rendering: optimizeLegibility;
	color: #8E8E93;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #C7C7CC;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input:focus { border: 1px solid #34AADC; }

input[type="submit"] {
	cursor: pointer;
	color: white;
	border: 2px solid #34AADC;
	border-bottom: 2px solid #007AFF;
	border-radius: 2px;
	background-color: #34AADC;
}

input[type="submit"]:hover {
	background-color: #007AFF;
	border: 2px solid #007AFF;
}

input[type="button"] { background-color: white; }

input[type="checkbox"] {
	margin-right: 3px;
	cursor: pointer;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}

::-webkit-input-placeholder { color: #C7C7CC; }
:-moz-placeholder { color: #C7C7CC; opacity: 1; }
::-moz-placeholder { color: #C7C7CC; opacity: 1; }
:-ms-input-placeholder { color: #C7C7CC; }

select {
	-moz-appearance: button;
	outline: none;
	margin: 0px;
	color: #8E8E93;
	background-color: white;
	padding: 5px;
	border: 1px solid #C7C7CC;
	border-radius: 2px;
	cursor: pointer;
}

select:focus { border: 1px solid #34AADC; }

textarea {
	padding: 20px;
	border: 1px solid #D7D7D7;
	border-radius: 2px;
	font-size: 110%;
	width: 100%;
	height: 111px;
	resize: none;
	outline: none;
}

textarea:focus { border: 1px solid #34AADC; }

.action_link {
	padding: 5px 10px 5px 10px;
	border: 1px solid #34AADC;
	border-radius: 2px;
}

li .action_link {
	display: inline-block;
	margin: 1px 0px 5px 0px;
}


/* Nav
========================================================================== */

nav {
	display: none;
	line-height: 50px;
	height: 50px;
	font-size: 18px;
	border-bottom: 1px solid #D7D7D7;
}

nav ul { text-align: center; }
nav li { display: inline; }
nav a { display: inline-block; }


/* Panels
========================================================================== */

.panel {
	overflow: auto;
	float: left;
	margin: 20px 0px 20px 0px;
}

.side_panel { padding: 5px 20px 5px 20px; }

#link_panel { width: 200px; }

#info_panel {
	width: 280px;
	height: 500px;
}

#mid_panel {
	width: calc(100vw - 200px - 280px);
	max-width: 650px;
	padding: 0px 16px 0px 16px;
}


/* Panel content
========================================================================== */

#link_panel li {
	margin-top: 6px;
	font-size: 115%;
}

#link_panel h4 {
	margin: 18px 0px 0px 0px;
	color: #4A4A4A;
}

#link_panel a {
	margin-left: 1px;
	color: #007AFF;
}

#dfiid a { color: #34AADC; }

#dfiid img {
	height: 20px;
	margin: 0px 5px -3px 0px;
}

.panel_avatar {
	height: 19px;
	margin: 0px 5px -5px 0px;
}

#anon_panel_link { color: #FF9500 !important; }
#auth_panel_link { color: #0BD318 !important; }
#create_panel_link { color: #EF4DB6 !important; }
#github_panel_link { color: #8E8E93 !important; }

.nav_link { width: 50px; }

#link_nav_link { display: none; }
#mid_nav_link { display: none; }
#info_nav_link { display: none; }


/* Panel @media
========================================================================== */

@media (max-width: 890px) {
	nav { display: block; }
	#info_nav_link, #mid_nav_link { display: inline-block; }
	#mid_panel { width: calc(100vw - 200px); }
}

@media (max-width: 480px) {
	#link_nav_link { display: inline-block; }
	#mid_panel { width: 100vw; }
}


/* Content
========================================================================== */

img {
	max-width: 100%;
	border-radius: 2px;
	margin-top: 5px;
}

div.fluidvids iframe {
	border-width: 0;
	margin-bottom: 10px;
}

.post {
	border: 1px solid #ecf0f1;
	border-radius: 2px;
	padding: 10px 15px 18px 15px;
	margin-bottom: 15px;
}

.post_title { font-size: 135%; }
.post_title:visited { color: #C86EDF; }

.post_content {
	padding: 3px;
	margin-top: 5px;
}

.post_content p {
	margin-bottom: 10px;
	font-size: 104%;
}

.post_info {
	overflow: auto;
	color: #8E8E93;
	line-height: 30px;
}

.post_info img {
	width: 30px;
	height: 30px;
	margin: 0px;
}

.post_info img, .post_info span { float: left; }
.post_info span { margin-left: 8px; }

.commits_link {
	overflow: auto;
	float: right;
}

.commits_link img {
	float: right;
	width: 17px;
	height: 17px;
	margin: 6px 0px 7px 5px;
}

#paginate { padding: 25px 4px 0px 0px; }

.fluidvids { margin: 20px 0px 20px 0px; }


/* subs
========================================================================== */

.sub_container {
	overflow: auto;
	max-width: 300px;
	width: 50%;
	line-height: 42px;
	margin-bottom: 10px;
	border-radius: 2px;
	padding: 5px;
	float: left;
	border: 1px solid white;
}

.sub_container:hover { border: 1px solid #34AADC; }

.sub_container img {
	height: 42px;
	margin: 0px 10px 0px 0px;
	float: left;
}


/* Commits
========================================================================== */

#commit_form {
	width: 95%;
	margin: 0px auto 15px auto;
}

.commit {
	overflow: auto;
	padding: 15px;
	border-radius: 2px;
	margin: 0px 0px 10px 0px;
}

.commit:nth-child(even) { background-color: #f4f8fc; }
.commit:nth-child(odd) { background-color: #eff5fa; }

.commit_content { margin-bottom: 10px; }

.commit_info {
	overflow: auto;
	width: 100%;
	line-height: 25px;
}

.commit_info img {
	float: left;
	height: 25px;
	margin: 0px 6px 0px 0px;
}

.commit_link { float: right; }


/* Profile
========================================================================== */

#profile_container {
	overflow: auto;
	border-radius: 2px;
}

#profile_image_view {
	float: left;
	margin: 0px 8px 0px 0px;
	width: 100px;
	height: 100px;
}

#profile_username {
	float: left;
	border-radius: 2px;
	font-size: 160%;
}

#feed img {
	width: 15px;
	height: 15px;
	margin: 12px 0px 0px 5px;
}

#profile_option { float: right; }

#profile_option:hover {
	border: 1px solid #007AFF;
	color: #007AFF;
}

#profile_description {
	padding: 12px;
	color: #8E8E93;
}

.profile_list_title { font-size: 120%; }

.profile_image {
	float: left;
	display: block;
	width: 10%;
	height: 10%;
	border-radius: 3px;
	margin: 3px;
	padding: 1px
}

.profile_image:hover { background-color: #34AADC; }

.profile_image img {
	width: auto;
	margin: 0;
	float: left;
}


/* Created
========================================================================== */

.created_link {
	overflow: auto;
	float: left;
	width: 100%;
	padding: 10px;
	margin: 4px;
	border: 1px solid #ecf0f1;
	border-radius: 2px;
}

.created_link .commits_link img { margin: 2px 0px 0px 5px; }

.created_draft { color: #EF4DB6; }


/* Auth form
========================================================================== */

#auth_form_container {
	text-align: center;
	border: 1px solid #D7D7D7;
	border-radius: 2px;
	margin-bottom: 15px;
}

#auth_form { margin-bottom: 40px; }

#auth_form_container img {
	width: 180px;
	max-width: 100%;
	margin: 40px 0px 30px 0px;
}

#auth_form input {
	width: 235px;
	max-width: 100%;
	display: block;
	margin: 0px auto 5px auto;
	padding: 8px;
}

#login_signup_link {
	font-size: 110%;
	text-align: center;
}

.g-recaptcha {
	overflow: hidden;
	width: 235px !important;
	height: 55px !important;
	border-radius: 2px;
	border: 1px solid #d3d3d3;
	margin: 0px auto 5px auto;
}

.g-recaptcha iframe { margin: -10px 0px 0px -2px; }


/* Editor
========================================================================== */

#edit_options { color: #8E8E93; }

#edit_form_button { float: left; }

#draft_chekcbox {
	float: left;
	margin: 0px 10px 0px 10px;
}

#sub_select { float: right; }

#view_section { display: none; }

#id_title { 
	width: 100%;
	margin-bottom: 5px; 
}

#edit_form textarea {
	height: calc(100vh - 260px);
	min-height: 50vh;
}

#edit_form textarea:focus { border: 1px solid #D1EEFC; }


/* Animations
========================================================================== */

#loading {
	overflow: auto;
	width: 78px;
	margin: 0 auto;
}

#loading div {
	float: left;
	margin: 0px 3px 0px 3px;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background-color: #34AADC;
}

/* django-debug-toolbar
========================================================================== */

#djDebugToolbarHandle { border-width: 0 !important; }

#djShowToolBarButton {
    background-color: white !important;
    background-image: none !important;
    height: 20px !important;
    width: 50px !important;
}