{% extends 'base.html' %}
{% block title %}blog{% endblock %}

{% block mid_panel %}
	<a href="/signup" class="action_link create_action_link">crear blog</a>

	<div id="profile_container">
		<a href="/blog"><img id="dfiid_image_view" src="/s/img/blog_logo_text.jpg" alt="dfiid"></a>
	</div>

	<div id="user_list_container">
		{% for object in object_list %}
			<a class="sub_container" href="/{{ object.username }}">
				<img src="/{{ object.avatar }}" alt="{{ object.username }}">
				<span>{{ object.username }}</span>
			</a>
		{% endfor %}
	</div>
{% endblock %}