{% extends 'base.html' %}
{% block title %}blog{% endblock %}

{% block facebook_meta_tags %}
	<meta property="og:title" content="blog" />
	<meta property="og:url" content="http://dfiid.com/blog"/>
	<meta property="og:image" content="/s/img/blog_logo_text.jpg"/>
	<meta property="og:description" content="dfiid blogs"/>
{% endblock %}

{% block mid_panel %}
	<a href="/signup" class="action_link create_action_link">crear blog</a>

	<div id="profile_container">
		<a href="/blog"><img id="dfiid_image_view" src="/s/img/blog_logo_text.jpg" alt="dfiid"></a>
	</div>

	<div id="user_list_container">
		<ul>
			{% for object in object_list %}
				<li>
					<a class="sub_container" href="/{{ object.username }}">
						<img src="/{{ object.avatar }}" alt="{{ object.username }}">
						<span>{{ object.username }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}