{% extends "base.html" %}
{% block title %}{{ profile.username }}{% endblock %}
{% block profile_select %}{% ifequal user.username  profile.username|slugify %}selected{% endifequal %}{% endblock %}
{% block user_select %}{% ifnotequal user.username  profile.username|slugify %}selected{% endifnotequal %}{% endblock %}

{% block mid_panel %}
	<div id="profile_container">
		<a id="profile_username" href="/user/{{ profile.username }}"><img id="profile_image_view" src="/{{ profile.avatar }}" alt="{{ profile.username }}"></a>
		<a id="profile_username" href="/user/{{ profile.username }}">{{ profile.username }}</a>
		<a id="feed" href="#" target="_blank"><img src="/s/img/feed.png"></a>

		{% ifequal user.username  profile.username|slugify %}
			<a id="profile_option" class="action_link" href="#">editar</a>
		{% else %}
			<a id="profile_option" class="action_link" href="#">follow</a>
		{% endifequal %}
	</div>
	{% ifequal user.username  profile.username|slugify %}<a href="/logout">logout</a>{% endifequal %}
	<div id="profile_description">{{ profile.bio_html|safe }}</div>

	{% for object in object_list %}
		<a class="created_link" href="{{ object.get_absolute_url }}">
			{{ object.title }}
			<span class="commits_link"><img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}</span>
		</a>
	{% endfor %}
{% endblock %}