{% extends 'layouts/post_list.html' %}
{% block title %}{{ profile.username }}{% endblock %}

{% block mid_panel %}
	<div id="profile_container">
		<a id="profile_username" href="/user/{{ profile.username }}"><img id="profile_image_view" src="/{{ profile.avatar }}" alt="{{ profile.username }}"></a>
		<a id="profile_username" href="/user/{{ profile.username }}">{{ profile.username }}</a>
		<a id="feed" href="#" target="_blank"><img src="/s/img/feed.png"></a>

		{% if action == 'follow' %}
			<form id="profile_option" action="/user_follow/{{ profile.username }}/" method="post">
				{% csrf_token %}{{ form }}
				<input class="action_link" type="submit" value="follow" />
			</form>
		{% elif action == 'unfollow' %}
			<form id="profile_option" action="/user_unfollow/{{ profile.username }}/" method="post">
				{% csrf_token %}{{ form }}
				<input class="action_link" type="submit" value="unfollow" />
			</form>
		{% elif action == 'edit' %}
			<a id="profile_option" class="action_link" href="/user/{{ profile.username }}/edit">editar</a>
		{% endif %}
	</div>
	{% ifequal user.username  profile.username|slugify %}<a href="/logout">logout</a>{% endifequal %}

	<div id="profile_selector">
		<a class="{% if profile_show == 'posts' %}profile_selected{% endif %}" href="/user/{{ profile.username }}">posts</a>
		<a class="{% if profile_show == 'commits' %}profile_selected{% endif %}" href="/user/{{ profile.username }}/commits">commits</a>
		<a class="{% if profile_show == 'bio' %}profile_selected{% endif %}" href="/user/{{ profile.username }}/bio">bio</a>
	</div>

	{% if profile_show == 'posts' %}
		{{ block.super }}
	{% elif profile_show == 'commits' %}
		{% for commit in profile.commits.all %}
			
				{% if commit.body_html %}
					<div id="{{ commit.commit_id}}" class="post">
						<div class="post_content">{{ commit.body_html|safe }}</div>
					
						<div class="post_info">
							<a href="{{ commit.get_absolute_url }}#{{ commit.commit_id}}">
								{{ commit.post.title }}
							</a>
							<a class="commits_link" href="{{ commit.post.get_view_commits_url }}"><img src="/s/img/dfiid_logo_small.png">{{ commit.post.commit_number }}</a>
						</div>
					</div>
				{% endif %}
			
		{% endfor %}
	{% elif profile_show == 'bio' %}
		<div class="post">
			<div class="post_content">
				{{ profile.bio_html|safe }}
			</div>
		</div>
	{% endif %}
{% endblock %}