{% extends "base.html" %}
{% block title %}{{ profile.user }}{% endblock %}
{% block profile_select %}{% ifequal user.username  profile.username|slugify %}selected{% endifequal %}{% endblock %}
{% block users_select %}{% ifnotequal user.username  profile.username|slugify %}selected{% endifnotequal %}{% endblock %}

{% block content %}
	<div id="profile_container">
		<span id="profile_username">{{ profile.username }}</span>
		<img class="profile_image"src="/{{ profile.avatar }}" alt="{{ profile.username }}">
		{{ profile.bio_html|safe }}
	</div>

	<p class="def_title" href="/user/posts/{{ profile.username }}">Posts</p>
	{% for post in object_list %}
		<li><p><a class="profile_list_title" href="{{ post.get_absolute_url }}">{{ post.title }}</a><span class="profile_list_date"> {{ post.pub_date | date:"d/m/Y H:i" }}</span></p>
	{% endfor %}
{% endblock %}