{% extends "base.html" %}
{% block title %}registro{% endblock %}
{% block signup_select %}selected{% endblock %}

{% block content %}
	{% if not user.is_authenticated %}
		<div id="auth_form_container">
			<img src="/s/img/dfiid_logo_with_text.jpg">

			{{ form.non_field_errors }}
			<form id="auth_form" action="/signup/" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="crear cuenta" />
			</form>
			</div>
		<a href="/login">login</a>
	{% else %}
		<a href="/logout">logout</a>
	{% endif %}
{% endblock %}

{% block js_head %}
	<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}