{% extends "base.html" %}
{% block title %}registro{% endblock %}
{% block signup_select %}selected{% endblock %}

{% block content %}
	<div id="auth_form_container" class="max_width">
		{% if not user.is_authenticated %}
			<img src="/s/img/dfiid_logo_with_text.jpg">

			{{ form.non_field_errors }}
			<form id="auth_form" class="max_width" action="/signup/" method="post">
				{% csrf_token %}
				<p id="message_auth_form">:D</p>
				{{ form }}
				<input type="submit" value="crear cuenta" />
			</form>

			<a href="/login">login</a>
		{% else %}
			<a href="/logout">logout</a>
		{% endif %}
	</div>
{% endblock %}

{% block js_head %}
	<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}