{% extends 'layouts/post_list.html' %}
{% block title %}anon{% endblock %}

{% block mid_panel %}
	<a href="/anon/create" id="anon_create_link" class="action_link create_action_link">crear anon post</a>

	<div id="profile_container">
		<a href="/"><img id="dfiid_image_view" src="/s/img/anon_logo_text.jpg" alt="dfiid"></a>
	</div>

	{{ block.super }}
{% endblock %}

{% block post_info %}
	<div class="post_info anon_post_info">
		<span class="date anon_date">{{ object.created |date:"d/m/Y H:i" }}</span>
		<a class="commits_link" href="{{ object.get_view_commits_url }}">
			<img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}
		</a>
	</div>
{% endblock %}