{% extends 'layouts/post_list.html' %}
{% block title %}{% if tab_show == 'top' %}anon{% endif %}{% if tab_show == 'new' %}anon - new{% endif %}{% endblock %}

{% block head %}
	<a href="/anon/create" id="anon_create_link" class="action_link create_action_link">crear anon</a>

	<div id="profile_container">
		<a href="/anon"><img id="dfiid_image_view" src="/s/img/anon_logo_text.jpg" alt="dfiid"></a>
	</div>

	<div id="tab_selector">
		<a class="{% if tab_show == 'top' %}tab_selected{% endif %}" href="/anon">top</a>
		<a class="{% if tab_show == 'new' %}tab_selected{% endif %}" href="/anon/new">new</a>
	</div>
{% endblock %}

{% block mid_panel %}
	{{ block.super }}
{% endblock %}

{% block post_info %}
	<div class="post_info anon_post_info">
		<span class="date anon_date">{{ object.created |date:"d/m/Y H:i" }}</span>
		<a class="commits_link" href="{{ object.get_view_commits_url }}">
			<img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}
		</a>
	</div>
{% endblock %}