{% extends "base.html" %}
{% block title %}anon{% endblock %}
{% block anon_select %}selected{% endblock %}

{% block mid_panel %}
	<form class="form-horizontal" action="/anon/create/" method="post">
		{% csrf_token %}
		{{ form }}
		<input id="edit_form_button" class="submit" type="submit" value="Submit" />
	</form>
	<br><br>

	{% if object_list %}
		{% for object in object_list %}
			<div class="post">
				<a class="post_title" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
				<div class="post_content">{{ object.body_html|safe }}</div>

				<div class="post_info">
					anon
					<a class="commits_link" href="{{ object.get_view_commits_url }}"><img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}</a>
				</div>
			</div>
		{% endfor %}

		<div id="loading">
			<div></div>
			<div></div>
			<div></div>
		</div>
	{% else %}
		{% include "layouts/no_content.html" %}
	{% endif %}
{% endblock %}

{% block js %}
	<script src="/s/js/scroll.js"></script>
{% endblock %}