{% extends 'layouts/post_detail.html' %}
{% block title %}anon{% endblock %}

{% block post_info %}
	<div class="post_info anon_post_info">
		<span class="date anon_date">{{ object.created |date:"d/m/Y H:i" }}</span>
		<a class="commits_link" href="{{ object.get_view_commits_url }}">
			<img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}
		</a>
	</div>
{% endblock %}

{% block commit_post_info %}
	<div class="post_info anon_post_info">
		<span class="date anon_date">{{ object.created |date:"d/m/Y H:i" }}</span>
		<a class="commits_link" href="#{{ commit.commitid}}">#{{ commit.commitid}}</a>
	</div>
{% endblock %}

{% block js_head %}
	<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}