{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% block mid_panel %}
	{% block post_detail %}
		<div class="post">
			<a class="post_title" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
			<div class="post_content">
				<div class="post_body_content">
					{{ object.body_html|safe }}
				</div>
				{% if object.image   %}
					<p><a href="/{{ object.image }}"><img src="/{{ object.image }}"></a></p>
				{% endif %}
			</div>

			{% block post_info %}
				<div class="post_info">
					<a class="blog_link" href="/{{ object.user_id }}"><img alt="{{ object.user_id }}" src="{{ object.get_avatar_url }}"></a>
					<span><a href="/{{ object.user_id }}">{{ object.user_id }}</a> / <a href="/sub/{{ object.sub_id }}">{{ object.sub_id }}</a></span>
					{% ifequal user.username  object.user_id|slugify %}
						<span><a class="edit" href="{{ object.get_edit_url }}"> editar</a></span>
					{% endifequal %}
					<span class="date">{{ object.created |date:"d/m/Y H:i" }}</span>
					<a class="commits_link" href="{{ object.get_view_commits_url }}"><img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}</a>
				</div>
			{% endblock %}
		</div>
	{% endblock %}

	<div id="commits">
		<form id="commit_form" action="{{ object.get_absolute_url }}" method="post">
			{% csrf_token %}
			{{ form }}
			<input class="submit" type="submit" value="commit" />
		</form>

		{% for commit in object.commits.all %}
			<div id="{{ commit.commitid}}" class="post">
				<div class="post_content">{{ commit.body_html|safe }}</div>

				{% block commit_post_info %}
					<div class="post_info">
						<a class="blog_link" href="/{{ commit.user_id }}"><img alt="{{ commit.user_id }}" src="{{ commit.get_avatar_url }}"></a>
						<span><a href="/{{ commit.user_id }}">{{ commit.user_id }}</a></span>
						<span class="date">{{ commit.created |date:"d/m/Y H:i" }}</span>

						<a class="commits_link commit_id" href="#{{ commit.commitid}}">#{{ commit.commitid}}</a>
					</div>
				{% endblock %}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block js %}
	<script src="/s/js/lib/autosize_3.0.4.min.js"></script>
{% endblock %}