{% extends 'layouts/post_detail.html' %}
{% block title %}{{ list }}{% endblock %}

{% block mid_panel %}
	{% for object in object_list %}
		{% block post_detail %}{{ block.super }}{% endblock %}
	{% endfor %}

	<div id="loading"><div></div><div></div><div></div></div>
{% endblock %}

{% block js %}
	<script>
		var page_number = 2;
		var scroll = true;

		document.addEventListener('DOMContentLoaded', function() {
			if ($('#mid_panel').height() < $(window).height()) {
				ajaxCall();
			}
		});

		$(window).scroll(function() {
			if (scroll) {
				if($(window).scrollTop() + $(window).height() == $(document).height()) {
					ajaxCall();
			  	}
			}
		});

		function ajaxCall() {
			$.ajax({
				type: 'GET',
				url: '{{ list_url }}',
				data: {
					'page' : page_number,
				},
				success: pageSuccess,
				error: pageError,
				dataType: 'html'
			});
		}

		function pageError() {
			scroll = false;
			$('#loading').hide();
		}

		function pageSuccess(data) {
			page_number = page_number + 1;
			$(data).insertAfter($('.post').last());
		}
	</script>
{% endblock %}