{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}{% if object.title %}editar{% else %}crear{% endif %}{% endblock %}

{% block mid_panel %}
	<div id="edit_form">
		{{ form.non_field_errors }}
		<section id="editor_section">
			<form class="form-horizontal" action="{% if object.get_edit_url %}{{ object.get_edit_url }}{% else %}/create/{% endif %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div id="main_edit">
					{{ form.title.errors }}
					<p>{{ form.title }}</p>

					{{ form.body.errors }}
					{{ form.body }}

					{{ form.image.errors }}
					{{ form.image }}
				</div>

				{{ form.sub.errors }}
				<div id="edit_options">
					<span id="sub_select">{{ form.sub }} sub</span>
					<span id="draft_chekcbox">borrador {{ form.draft.errors }}{{ form.draft }}</span>
					<br>
				</div>
				<input id="edit_form_button" class="submit" type="submit" value="post" />
			</form>
		</section>

		<section id="view_section">
				<div class="post">
					<a href="#" onClick="return false;" id="post_title" class="post_title"></a>
					<div id="post_content" class="post_content"></div>

					<div class="post_info">
						<a href="/{{ user.pk }}"><img alt="{{ user.pk }}" src="{{ user.get_avatar_url }}"></a>
						<span> por <a href="/{{ user.pk }}">{{ user.pk }}</a> en <a id="post_sub" href=""></a> </span>
						<span id="post_created" class="post_info_highlight"></span>
					</div>
				</div>
		</section>
	</div>
{% endblock %}

{% block js %}
	<script src="{% static "js/lib/marked_0.3.2.min.js" %}"></script>
	<script src="{% static "js/lib/autosize_3.0.4.min.js" %}"></script>
	<!-- <script src="{% static "js/editor.js" %}"></script> -->
{% endblock %}
