{% extends 'layouts/post_detail.html' %}
{% block title %}{% if tab_show == 'top' %}{{ list }}{% endif %}{% if tab_show == 'new' %}{{ list }} - new{% endif %}{% endblock %}

{% block mid_panel %}
	{% block head %}
		<a href="/create" id="dfiid_create_link" class="action_link create_action_link">crear post</a>

		<div id="profile_container">
			<a href="/"><img id="dfiid_image_view" src="/s/img/dfiid_logo_text.jpg" alt="dfiid"></a>
		</div>

		{% block tab %}
			<ul id="tab_selector">
				<li><a class="{% if tab_show == 'top' %}tab_selected{% endif %}" href="/">top</a></li>
				<li><a class="{% if tab_show == 'new' %}tab_selected{% endif %}" href="/new">new</a></li>
			</ul>
		{% endblock %}
	{% endblock %}

	{% block list_content %}
		{% for object in object_list %}
			{% block post_detail %}{{ block.super }}{% endblock %}
		{% endfor %}
	{% endblock %}

	<div id="loading"><div></div><div></div><div></div></div>
{% endblock %}

{% block js %}
	<script>
		var page_number = 2;
		var scroll = true;

		function body_detect_expand() {
			var body_post = document.getElementsByClassName('post_body_content');

			for (var n = 0; n < body_post.length; n++) {
				var show_body_post = []

				if (body_post[n].offsetHeight > 500) {
					body_post[n].classList.add('post_body_content_expand');

					show_body_post[n] = document.createElement('span');
					show_body_post[n].innerHTML = 'expandir';
					show_body_post[n].classList.add('action_link', 'action_link_expand');

					body_post[n].parentNode.insertBefore(show_body_post[n], body_post[n].nextSibling);

					show_body_post[n].addEventListener('click', function() {
						this.previousSibling.classList.remove('post_body_content','post_body_content_expand');
						this.remove();
					});
				}
			}
		}

		document.addEventListener('DOMContentLoaded', function() {
			body_detect_expand();

			if ($('#mid_panel').height() < $(window).height()) {
				ajaxCall();
			}
		});

		$(window).scroll(function() {
			if (scroll) {
				if ( main_panel == 2) {
					if($(window).scrollTop() + $(window).height() == $(document).height()) {
						ajaxCall();
					}
				}
			}
		});

		function ajaxCall() {
			$.ajax({
				type: 'GET',
				url: '{{ list_url }}',
				data: { 'page' : page_number, },
				dataType: 'html',
				success: pageSuccess,
				error: pageError
			});
		}

		function pageError() {
			scroll = false;
			$('#loading').hide();
		}

		function pageSuccess(data) {
			page_number = page_number + 1;
			$(data).insertAfter($('.post').last());
			video_thumb();
			body_detect_expand();
		}
	</script>
{% endblock %}
