{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% block mid_panel %}
	{% block post_detail %}
		<div class="post">
			<a class="post_title" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
			<div class="post_content">
				{{ object.body_html|safe }}
				{% if object.image   %}
					<p><img src="/{{ object.image }}"></p>
				{% endif %}
			</div>

			{% block post_info %}
				<div class="post_info">
					<a href="/{{ object.user_id }}"><img alt="{{ object.user_id }}" src="{{ object.get_avatar_url }}"></a>
					<span><a href="/{{ object.user_id }}">{{ object.user_id }}</a> / <a href="/sub/{{ object.sub_id }}">{{ object.sub_id }}</a></span>
					{% ifequal user.username  object.user_id|slugify %}
						<span><a class="edit" href="{{ object.get_edit_url }}"> edit</a></span>
					{% endifequal %}
					<a class="commits_link" href="{{ object.get_view_commits_url }}"><img src="/s/img/dfiid_logo_small.png">{{ object.commit_number }}</a>
				</div>
			{% endblock %}
		</div>
	{% endblock %}

	<div id="commits">
		{% if user.is_authenticated %}
			<form id="commit_form" action="{{ object.get_commit_url }}" method="post">
				{% csrf_token %}
				{{ form }}
				<input class="submit" type="submit" value="commit" />
			</form>
		{% endif %}

		{% for commit in object.commits.all %}
			<div id="{{ commit.commitid}}" class="post">
					<div class="post_content">{{ commit.body_html|safe }}</div>

				<div class="post_info">
					<a href="/{{ commit.user_id }}"><img alt="{{ commit.user_id }}" src="{{ commit.get_avatar_url }}"></a>
					<span><a href="/{{ commit.user_id }}">{{ commit.user_id }}</a></span>

					<a class="commit_link" href="#{{ commit.commitid}}">#{{ commit.commitid}}</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block js %}
	<script src="/s/js/lib/autosize_3.0.4.min.js"></script>
{% endblock %}